<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .layui-btn-normal {
        background-color: #1E9FFF
    }

    .layui-btn {
        display: inline-block;
        height: 38px;
        line-height: 38px;
        padding: 0 18px;
        background-color: #009688;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        font-size: 14px;
        border: none;
        border-radius: 2px;
        cursor: pointer
    }
</style>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <title>=管理系统介绍=</title></head>
<body>
<h2>
    <a name="%E8%BF%8E%E5%AD%A6%E5%90%8E%E5%8F%B0%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F"
       class="md-header-anchor">
    </a><span>管理系统</span>
</h2>
<h3>
    <a name="1.-%E7%AE%80%E4%BB%8B"
       class="md-header-anchor"></a>
    <span>1. 简介</span>
</h3>
<p>
    <span>
前言-如下功能主要为了实现我方 向供应商提供招聘需求并获取相应候选人面试入职的自动化，具体要求如下：
</span>
</p>
<ul>
    <li><span>在调用如下接口时，我方会提供一个IP白名单，供应商可以通过该白名单的方式调用如下接口；
</span></li>
    <li><span>对于第一个接口，我方会提供完整的招聘信息，比如：招聘人数，岗位名称，办公地点，招聘要求等；不需要供应商提供任何请求参数；
</span></li>
    <li><span>如下几个接口需要相应供应商主动来调我方，调用间隔建议1小时以上；
</span></li>
    <li><span>该接口主要为了实现我方向供应商提供招聘需求并获取相应候选人面试入职的自动化；
   </span></li>
</ul>

</body>
<script src="/layui/layui.all.js"></script>
<script>
</script>
</html>